<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
 <welcome-file-list>
		<welcome-file>welcom.html</welcome-file>
		<welcome-file>welcom.html</welcome-file>
	</welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>InsetrDetails</servlet-name>
  	<display-name>InsetrDetails</display-name>
  	<description></description>
  	<servlet-class>com.controller.InsetrDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetDeatails</servlet-name>
  	<display-name>GetDeatails</display-name>
  	<description></description>
  	<servlet-class>com.controller.GetDeatails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServ</servlet-name>
  	<display-name>UpdateServ</display-name>
  	<description></description>
  	<servlet-class>com.controller.UpdateServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServ</servlet-name>
  	<display-name>DeleteServ</display-name>
  	<description></description>
  	<servlet-class>com.controller.DeleteServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InsetrDetails</servlet-name>
  	<url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetDeatails</servlet-name>
  	<url-pattern>/GetDeatails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServ</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteServ</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
 
  
</web-app>
